body{
  background-color: #D9D9D9;
  display:flex;
}
.title{
  font-size:100px;
}
h2{
  font-size: 50px;
}
.container{
  background-color: pink;
}
.search-bar{
  display: flex;
}
.search-input{
  border:none;
  border-radius: 10px;
}
.addButton{
  border: none;
  font-size:20px;
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color:#2C2C2C;
  color:rgb(255, 122, 255)
}